<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%= sessionUser.name %> (<%= sessionUser.role %>)</h1>
    <ul>
        <% user.forEach((u) => { %>
           <li>Id: <%= u.id %></li>
           <li>Name: <%= u.name %></li>
           <li>Password: <%= u.password %></li>
        <% }) %>
    </ul>
</body>
</html>