<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Of Users</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="max-h-screen bg-green-100p-8">
    <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-lg">
        <h1 class="text-green-600 mb-5 text-center text-2xl font-semibold">Welcome <%= sessionUser.name %> (<%= sessionUser.role %>)</h1>
        <div class="flex justify-between items-center mb-4">
          <a href="/add" class="bg-green-500 px-4 p-2 py-2">Add New</a>
          <a href="/logout" class="bg-red-500 p-2 px-4">logout</a>
    </div>
    <table border="1" class="w-full border border-green-300 text-center text-sm">
        <thead class="bg-green-500  text-white">
         <tr>
           <th class="border border-green-300">Id</th>
           <th class="border border-green-300">Name</th>
           <th class="border border-green-300">Password</th>
           <th colspan="2" class="border border-green-300">Operation</th>
         </tr>      
        </thead> 
        <tbody class="bg-white text-black">
        <% user.forEach(user => { %>
            <tr>
              <td class="p-2 border border-green-200"><%= user.id %></td>
              <td class="p-2 border border-green-200"><%= user.name %></td>
              <td class="p-2 border border-green-200"><%= user.password %></td>
              <td class="p-2 border border-green-200">
               <% if (sessionUser.role === 'admin' || sessionUser.id === user.id) { %>
                <a href="/edit/<%= user.id %>">Edit</a>
                <% } %>

                <% if (sessionUser.role === 'admin') { %>
                    <td><a href="/delete/<%= user.id %>" class="p-2 border border-red-600">Delete</a></td>
               <% } %>
            </td>
            </tr>
        </tbody>
        <% }) %>

    </table>
</div>
</body>
</html>