<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Of Users</title>
</head>
<body>
    <h1>Welcome <%= sessionUser.name %> (<%= sessionUser.role %>)</h1>
    <a href="/logout">logout</a>
    <a href="/add">Add New</a>
    <table border="1">
        <tr>
           <th>Id</th>
           <th>Name</th>
           <th>Password</th>
           <th colspan="2">Operation</th>
        </tr>       
        <% user.forEach(user => { %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.password %></td>
              <td>
               <% if (sessionUser.role === 'admin' || sessionUser.id === user.id) { %>
                <a href="/edit/<%= user.id %>">Edit</a>
                <% } %>

                <% if (sessionUser.role === 'admin') { %>
                    <td><a href="/delete/<%= user.id %>">Delete</a></td>
               <% } %>
            </td>
            </tr>

        <% }) %>

    </table>
</body>
</html>