<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen flex text-white bg-green-600 justify-center items-center">
  <div class="bg-green-200 text-green-900 p-6 rounded-lg shadow-lg w-full max-w-md">
       <a href="/logout" class="bg-red-400 text-white px-3 py-1 rounded hover:bg-red-600">Logout</a>
    <div class="flex justify-end mb-4">
   
         <ul class="space-y-6">
          <% user.forEach((u) => { %>
             <li class="border border-green-400 rounded p-4 bg-white text-green-900">
              <p><span class="font-bold text-green-600">Id:<%= u.id %></span></p> 
               <span class="font-bold text-green-600">Name: <%= u.name %></span>
               <span class="font-bold text-green-600">Password: <%= u.password %></span>
               <div class="mt-4 space-x-4">
                 <a href="/update/<%= u.id %>" class="bg-green-400 text-white px-4 py-2 rounded hover:bg-green-600">Edit Your Account </a> 
                 <a href="/dlt/<%= u.id %>"  onclick="return confirm('Are You Sure You Want to delete your account??')"  class="bg-red-400 text-white px-4 py-2 rounded hover:bg-red-600">Delete</a> 
               </div>
            </li>
            
        <% }) %>
    </ul>
  
    </div>

  </div>
   
</body>
</html>